body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
  background: #001524;
}
h1 {
  text-align: center;
  color: white;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}
.list {
  display: flex;
  flex-direction: column;
}
.content {
  padding-top: 20px;
}

.list-options {
  padding-left: 0;
}
.list-options input {
  padding-right: 3px;
}

.btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.btn .submit {
  float: right;
  margin-right: 60px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
}

.btn :hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
