body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
  background: #001524;
}

h1 {
  text-align: center;
  color: white;
}

.screen {
  display: flex;
  flex-direction: row;
}

.timer {
  position: absolute;
  top: 40px;
  right: 60px;
  font-size: 50px;
  border-radius: 2rem;
  justify-content: center;
  z-index: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}

.list {
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 20px;
}

.list-options {
  padding-left: 0;
}

.list-options input {
  padding-right: 3px;
}

.btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.btn .submit {
  float: right;
  margin-right: 60px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
}

.btn :hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.completion {
  color: #13aa52;
}

.indicator {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.indicator *,
.indicator::before {
  box-sizing: border-box;
}


.indicator {
  position: relative;
  width: 350px;
  height: 175px;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  position: absolute;
}

.indicator::before {
  content: "";
  width: inherit;
  height: inherit;
  border: 45px solid rgba(211, 211, 211, 0.3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.indicator span.bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 45px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  z-index: 4;
  border-color: green;
  animation-name: rotate-one;
}

.indicator span.result {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

span.result span:nth-child(1) {
  font-size: 2rem;
}

@keyframes rotate-one {
  0% {
    transform: rotate(0);
  }
}

/*
login form
*/
.form-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 100%;
  max-width: 350px;
  height: 420px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}



.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.form-btn {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: teal;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}

.google-login-button {

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* RESET PASSWORD*/

.form-container-reset {
  width: 100%;
  max-width: 275px;
  height: 340px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px 30px;
  align-items: center;
  justify-content: center;

}

.form-container-reset h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container-reset .form {
  display: flex;
  flex-direction: column;
}

.form-container-reset .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.form-container-reset .form-group input {
  width: 90%;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-container-reset .form-group input::placeholder {
  opacity: 0.5;
}

.form-container-reset .form-group input:focus {
  outline: none;
  border-color: #13aa52;
}

.form-container-reset .form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #13aa52;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
}

.form-container-reset .form-submit-btn:hover {
  background-color: #13aa52;
}



.form-container-reset .signup-link {
  align-self: center;
  font-weight: 500;
}